a {
    text-decoration: none;
}

/*estilizacao do cabecalho*/

header {
    background-color: #0a58ca;
    height: 60px;
}

/*estilizacao da barra lateral*/

nav {
    height: calc(100% - 60px);
    top: 60px;
    width: 250px;
}

.sidebar {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

/*estilizacao do conteudo principal*/

main {
    margin-left: 250px;
    margin-top: 60px;
}

@media (max-width: 991px) {
    main {
        margin-left: 0;
    }
    
    .sidebar {
        margin-top: 60px;
    }
}
