header {
    background-color: #0a58ca;
    padding: 15px;
}

a {
    text-decoration: none;
}

.titulo {
    align-items: center;
    color: #f8f9fa;
    display: flex;
}

.titulo:hover {
    color: #e9ecef;
}

.titulo:active {
    color: #dee2e6;
}

.conteudo {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 250px; 
}

.nav_link {
    align-items: center;
    color: #0d6efd;
    display: flex;
    padding: 5px;
}

.nav_link:hover {
    color: #0a58ca;
}

.nav_link:active {
    color: #084298;
}

main {
    padding: 15px;
}
