<nav class="d-flex position-fixed">
    <div class="sidebar offcanvas offcanvas-end p-3" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
        <div>
            <a class="align-items-center d-flex h5 link-primary mb-3" href="{% url 'core:home' %}">
                <i class="bi bi-house me-1"></i>
                Início
            </a>
            <a class="align-items-center d-flex link-primary h5 mb-3" href="#">
                <i class="bi bi-bookmark me-1"></i>
                Salvos
            </a>
        </div>
        <div>
            <a class="align-items-center d-flex link-primary h5 mb-0" href="#">
                <i class="bi bi-gear me-1"></i>
                Ajustes
            </a>
        </div>
    </div>
</nav>
