<nav>
    <div>
        <a class="nav_link h5 me-1" href="{% url 'core:home' %}">
            <i class="bi bi-house"></i>
            <span class="ms-1">Início</span>
        </a>
        <a class="nav_link h5 me-1" href="{% url 'core:home' %}">
            <i class="bi bi-bookmark"></i>
            <span class="ms-1">Salvos</span>
        </a>
    </div>
    <div>
        <a class="nav_link h5" href="">
            <i class="bi bi-person"></i>
            <span class="ms-1">Perfil</span>
        </a>
        <a class="nav_link h5" href="{% url 'core:home' %}">
            <i class="bi bi-gear"></i>
            <span class="ms-1">Ajustes</span>
        </a>
    </div>
</nav>
